* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Kalam, cursive;
}
/* NavBar*/

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-items ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
  margin: 2rem 2.5rem;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  font-weight: 600;
}

/** Toggle Button **/

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .nav-items {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0rem;
  }

  .nav-items ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-items li {
    text-align: center;
  }

  .nav-items li a {
    padding: 0.1rem;
    margin: 1rem 0;
  }

  .nav-items.active {
    display: flex;
  }
}

/*Main Section*/

.main-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-section img {
  position: absolute;
  top: 50px;
  left: 50px;
}

@media (max-width: 768px) {
  .main-section img {
    display: none;
  }
}

/*Footer*/

.container-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: start;
  padding: 50px;
}

.footer-content p {
  line-height: 1.1rem;
}

#email-link a {
  text-decoration: none;
  color: white;
  font-size: rem;
}

.socials li {
  display: inline-block;
  list-style-type: none;
  color: white;
  font-size: 1.3rem;
  padding-right: 1rem;
}

.fa-brands {
  color: white;
}
