* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Kalam, cursive;
}
/* NavBar*/

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-items ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
  margin: 1.5rem 2rem;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  font-weight: 600;
}

/*Main Section*/

.main-video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container-home {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(42, 75, 104);
  top: 110%;
  left: 0;
  width: 100%;
  height: 250px;
}

.home-content {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.container-home button {
  background-color: rgb(115, 136, 156);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 850px;
  cursor: pointer;
  max-width: 200px;
}

.mato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* About Section*/

.about {
  background-image: url(images/Pastor\ Dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.about-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-content {
  width: 70%;
  height: auto;
  text-align: center;
  color: white;
}

.about-content p {
  color: rgb(27, 52, 73);
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: bold;
}

/* Services Section */

.services {
  background-color: rgb(17, 11, 11);
}

header h1 {
  text-align: center;
  font-size: 5rem;
  margin: 50px 0;
  color: white;
}

.container-serv1 {
  display: flex;
}

.container-serv1 img {
  margin-left: 100px;
  width: 600px;
  height: 650px;
}

.serv-1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.serv-1-content h1 {
  width: 60%;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.serv-1-content h2 {
  font-size: 3rem;
}

.serv-1-content li {
  font-size: 1.8rem;
  line-height: 2rem;
}

.container-serv2 {
  margin: 100px 0;
  display: flex;
}

.serv2-content {
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-serv2 img {
  width: 600px;
  height: 500px;
}

.serv2-content h2 {
  margin-bottom: 1.1rem;
  font-size: 2rem;
}

.serv2-content li {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.serv3-content {
  color: white;
  display: flex;
  justify-content: center;
}

.serv3-content p {
  width: 70%;
  height: 100%;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}
